<div id="eventDetailsModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 hidden rounded-lg">
    <div class="bg-white  rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/2  relative">
      <!--header-->
      <div class='bg-gradient-to-r from-[#C2396C] to-[#5C1B33] p-8 rounded-t-lg'>
        <button class="absolute top-4 right-4 text-gray-500 hover:text-white " onclick="closeModal()">
        <span class="material-icons">close</span>
      </button>
      <!-- Modal Content -->
      <h1 class="text-2xl font-bold mb-4 text-white/70">Event Details</h1>
      <div class=" text-white py-4 rounded-lg mb-4">
        <h2 class="text-xl font-semibold">CITC Intramurals</h2>
        <p class="text-sm text-white/70">June 06 2024, 10:00 - 5:00 pm</p>
      </div>
      <div class="mb-6">
        <h3 class="font-semibold mb-2 text-white">Playmakers Participants</h3>
        <div class='flex justify-between items-center'>
          <div class="flex space-x-2">
          
          <div class="w-10 h-10 rounded-full bg-black/60"></div>
          <div class="w-10 h-10 rounded-full bg-black/60"></div>
          <div class="w-10 h-10 rounded-full bg-black/60"></div>
          <!-- ILISAN OG IMAGE -->

        </div>
        <!--completed tag-->
        <div class='rounded-lg flex gap-2 items-center bg-[#5C1B33] border border-1 p-2'>
          <img src="/static/images/success.svg" alt="completed svg" class='w-5 h-5' >
          <p class='text-white '>completed</p>
        </div>
        </div>
      </div>
      </div>
      <!--content-->
      <div class='p-8'>
          <div class="grid grid-cols-2 gap-4 mb-6">
        <div>
          <h4 class="font-semibold">Department</h4>
          <p>CITC</p>
        </div>
        <div>
          <h4 class="font-semibold">Event Organizer</h4>
          <p>John Doe</p>
          <p>johndoe@ustp.edu.ph</p>
        </div>
        <div>
          <h4 class="font-semibold">Theme</h4>
          <p>Throwback Friday</p>
        </div>
        <div>
          <h4 class="font-semibold">No. of Songs</h4>
          <p>5</p>
        </div>
        <div>
          <h4 class="font-semibold">No. of Minutes</h4>
          <p>30</p>
        </div>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Description</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id ratione debitis minima unde facilis ab eius totam consequuntur cumque, accusamus maiores non quam ad blanditiis repellendus sunt porro.</p>
      </div>
      </div>
    </div>
  </div>